<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property name="LOG_DIR" value="./log" />
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
		<!-- daily rollover -->
		<fileNamePattern>${LOG_DIR}/kafkaProducerSample.%d{yyyy-MM-dd}.log</fileNamePattern>
	</rollingPolicy>
    <encoder>
      <pattern>[%d{yyyy/MM/dd HH:mm:ss}] %-5level %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
   <Target>System.out</Target>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="org.slf4j" level="ERROR" />
  <logger name="org.apache.kafka" level="ERROR" />
  <logger name="ch.qos.logback" level="ERROR"/>
  <logger name="ch.qos.logback.core.util.StatusPrinter" level="ERROR"/>
  <logger name="com.example.kafka.producer" level="DEBUG" />

  <root>
    <level value="DEBUG" />
<!--     <appender-ref ref="STDOUT" /> -->
    <appender-ref ref="FILE" />
  </root>
</configuration>
